:root {
  // Colors:
  --primary: #9b51e0;
  --black: #000;
  --dark: #2c3539;
  --dark-gray: #4f4f4f;
  --white: #fff;
  --light-gray: #e0e0e0;
  --purple: #5c1a8d;
  --yellow: #f2c94c;
  --blue: #56ccf2;
  --green: #6fcf97;
  --light-purple: #bb6bd9;
  --footer-yellow: #deb63d;
  --light-bg: rgba(167, 146, 254, 0.07);

  // Font Family
  --cerapro: 'CeraPro';

  // Font Weights
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  // Font Sizes
  --xx-small: 9px;
  --x-small: 12px;
  --small: 14px;
  --regular: 16px;
  --medium: 18px;
  --title: 20px;
  --large: 24px;
  --m-large: 30px;
  --m-large-36: 36px;
  --x-large: 40px;
  --x-large-48: 48px;
  --xx-large-60: 60px;
  --xx-large: 70px;
  --xx-large-90: 90px;
}
